run/
.DS_Store
.idea
.bundle/
config.rb
Gemfile.lock
openstudio-measures/
gitignore/
output/
bs_output/
bs_spreadsheet_output/
reports/
rubocop-results.xml
spec/files/phase0/*
seed.json
seed-docker.json
seed-configs.json
gems/
data/