run/
.DS_Store
.idea
.bundle/
config.rb
Gemfile.lock
openstudio-measures/
gitignore/
output/
bs_output/
reports/
rubocop-results.xml
spec/files/phase0/*
!spec/files/phase0/*.xml
seed.json
seed-configs.json
